.ui-state-default span {
  background-image: url("../../../../assets/images/AccordionArrowDefault.png")!important;
  background-position: unset;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 25px;
  top: 28px;
}

.ui-state-active span {
  background-image: url("../../../../assets/images/AccordionArrowDefault.png")!important;
  background-position: unset;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 25px;
  top: 28px;
}
